@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h4>@ViewData["Title"]</h4>
<p class="text-center">
    Please check your email to reset your password.
</p>
