@model IEnumerable<FreelancerCLone.DbModels.UserSkill>

@{
    ViewData["Title"] = "Skills";
}

<h1>Skills</h1>

<p>
    <a data-toggle="modal" class="btn btn-primary" data-target="#skillModal" onclick="addSkillsCategory()">Create New</a>
</p>
<div id="addDiv"></div>
<div class="table-responsive">
    <table class="table data-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Skill)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Skill.SkillName
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-action="DeleteUserSkills" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function addSkillsCategory() {
        $.ajax({
            type: "Get",
            url: "/User/AddUserSkills",
            success: function (result) {
                $("#addDiv").html(result);
                $("#skillModal").modal('show');
            }
        })
    }

    function getSkills() {

        var selectedCategory = $("#category").val();

        $.ajax({
            type: "Get",
            data: { categoryId: selectedCategory },
            url: "/User/GetSkills",
            success: function (result) {
                var lstSkills = $("#SkillId");
                lstSkills.empty();

                if (result != null && !jQuery.isEmptyObject(result)) {
                    $.each(result, function (index, skill) {
                        lstSkills.append($('<option/>', {
                            value: skill.value,
                            text: skill.text
                        }));
                    });
                }
            }
        })
    }
</script>
