@model IEnumerable<FreelancerCLone.DbModels.SkillCategory>

@{
    ViewData["Title"] = "Skill Categories";
}

<h1>Skill Categories</h1>

<p>
    <a data-toggle="modal" class="btn btn-primary" data-target="#skillCategoryModal" onclick="addSkillsCategory(0)">Create New</a>
</p>
<div id="addDiv"></div>
<div class="table-responsive">
    <table class="table data-table">
        <thead>
            <tr>
                <th>
                    Skill Category
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        <a data-toggle="modal" class="btn btn-secondary" data-target="#skillCategoryModal" onclick="addSkillsCategory(@item.Id)">Edit</a>
                        <a class="btn btn-info" asp-action="Index" asp-route-category="@item.Id">Skills</a>
                        <a class="btn btn-danger" asp-action="DeleteCategory" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function addSkillsCategory(id) {
        $.ajax({
            type: "Get",
            url: "/Skills/CreateCategory",
            data: { Id: id },
            success: function (result) {
                $("#addDiv").html(result);
                $("#skillCategoryModal").modal('show');
            }
        })
    }
</script>