@model FreelancerCLone.ViewModels.ProjectViewModel

@{
    if (ViewBag.Id == 0)
    {
        ViewData["Title"] = "Create Project ";
    }
    else
    {
        ViewData["Title"] = "Edit Project";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    window.onerror = null;
    tinymce.init({
        selector: '#tiny',
        plugins: 'anchor autolink charmap codesample emoticons imagetools image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        image_title: true,
        automatic_uploads: true,
        file_picker_ypes: 'image',
        file_picker_callback: function (cb, value, meta) {
            var input = document.createElement('input');
            input.setAttribute('type', 'file');
            input.setAttribute('accept', 'image/*');
            input.onchange = function () {
                var file = this.files[0];
                var reader = new FileReader();
                reader.onload = function () {
                    var id = 'blobid' + (new Date()).getTime();
                    var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                    var base64 = reader.result.split(',')[1];
                    var blobInfo = blobCache.create(id, file, base64);
                    blobCache.add(blobInfo);

                    cb(blobInfo.blobUri(), { title: file.name });
                };
                reader.readAsDataURL(file);
            };
            input.click();
        },
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
        ]
    });
</script>
<style>
    .tox-notifications-container {
        display: none;
    }

</style>

<style>
    .form-control {
        max-width: 100% !important;
    }
</style>


<style>
    .upload__box {
        padding: 40px;
    }

    .upload__inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .upload__btn {
        display: inline-block;
        font-weight: 600;
        color: #fff;
        text-align: center;
        min-width: 116px;
        padding: 5px;
        transition: all 0.3s ease;
        cursor: pointer;
        border: 2px solid;
        background-color: #4045ba;
        border-color: #4045ba;
        border-radius: 10px;
        line-height: 26px;
        font-size: 14px;
    }

        .upload__btn:hover {
            background-color: unset;
            color: #4045ba;
            transition: all 0.3s ease;
        }

    .upload__btn-box {
        margin-bottom: 10px;
    }

    .upload__img-wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    .upload__img-box {
        width: 200px;
        padding: 0 10px;
        margin-bottom: 12px;
    }

    .upload__img-close {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: center;
        line-height: 24px;
        z-index: 1;
        cursor: pointer;
    }

        .upload__img-close:after {
            content: "✖";
            font-size: 14px;
            color: white;
        }

    .img-bg {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        padding-bottom: 100%;
    }
</style>



<div class="my-5">
    <h3 class="d-flex justify-content-between align-items-center">
        @ViewData["Title"]
    </h3>
    <hr>
</div>




<div class="card" style="align-items:center">
    <div class="card-body col-lg-12 col-md-12 col-sm-12 col-12" style="align-items:center">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" value="@ViewBag.Id" hidden />
            <div class="row">
                <div class="p-3 col-12">
                    <div class="form-floating">
                        <input asp-for="Title" class="form-control" />
                        <label asp-for="Title" class="control-label"></label>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class=" p-3 col-12 ">
                    <div class="form-floating form-group">
                        <textarea id="tiny" asp-for="Description" class="form-control"></textarea>
                        <label asp-for="Description" class="control-label"></label>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="p-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-floating">
                        <input asp-for="Budget" class="form-control" />
                        <label asp-for="Budget" class="control-label"></label>
                        <span asp-validation-for="Budget" class="text-danger"></span>
                    </div>
                </div>
                <div class="p-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-floating">
                        <input asp-for="Deadline" class="form-control" />
                        <label asp-for="Deadline" class="control-label"></label>
                        <span asp-validation-for="Deadline" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="p-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-floating">
                        <input asp-for="TechnologyRequired" class="form-control" />
                        <label asp-for="TechnologyRequired" class="control-label"></label>
                        <span asp-validation-for="TechnologyRequired" class="text-danger"></span>
                    </div>
                </div>
                <div class="p-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="upload__box">
                        <div class="upload__btn-box">
                            <label class="upload__btn">
                                <p>Upload images</p>
                                <input asp-for="docs" type="file" multiple="" data-max_length="20" class="upload__inputfile">
                            </label>
                        </div>
                        <div class="upload__img-wrap"></div>
                    </div>
                </div>
            </div>



            <div class="row justify-content-end" style="margin-top:10px">
                <div class="col-md-2 col-6">
                    <button type="button" class="btn btn-raised btn-secondary">
                        <i class="fa fa-times"></i>  <span>Cancel</span>
                    </button>
                </div>

                <div class="col-md-2 col-6">
                    <button type="submit" class="btn btn-raised btn-primary">
                        <i class="fa fa-check"></i> <span>Save</span>
                    </button>
                </div>
            </div>


        </form>
    </div>
</div>












