@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using FreelancerCLone.Utilities

@{
    string profilePath = "/DefaultUser.png";

    if (SignInManager.IsSignedIn(User))
    {
        profilePath = UserUtility.Instance.getUserProfilePictureUrl(User.Identity.Name);
    }

}

<style>
    .sign-in {
        background-color: #f4623a;
        border: none;
        color: white;
        /* padding: 10px 20px; */
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 6px 6px;
        cursor: pointer;
        border-radius: 10px;
        height: 40px;
    }

    .form-style {
        padding: 10px 20px;
        font-size: 15px;
        text-transform: none;
        font-weight: 600;
        color: #006a5d;
        text-decoration: none !important;
        font-family: var(--font-secondary);
    }
</style>

@if (SignInManager.IsSignedIn(User))
{
    <li class="dropdown">
        <a href="#"><span><img src="~/DefaultUser.png" width="50" height="50" style="border-radius: 50%;" /></span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
        <ul>
            <li>Hello @User.Identity?.Name!</li>
            <li><a asp-action="Profile" asp-controller="User">Profile</a></li>
            <li><a asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
        </ul>
    </li>
}
else
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Login" class="sign-in">Login</a>
    </li>
}
